<ion-header>
  <ion-toolbar>
    <ion-title align="center"><h1>
      <b><u>Hoja De Vida</u></b>
    </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container" >
    <table class="table" border="3">
        <div class="row">
          <div class="col">
            <u><h2>Datos Personales</h2></u>
          </div>
          <div class="col-2">
              <img src="../../assets/img/foto.jpg" alt="50">
          </div>
          <div class="col-3">
        </div>
        </div>
        <div class="row">
          <div class="col-4">
            <b>
              <p>Apellidos:</p> 
              <p>Nombres:</p>
              <p>Fecha de Nacimiento:</p>
              <p>Lugar de nacimiento:</p>
              <p>Estado Civil:</p>
              <p>Cédula:</p>
              <p>Dirección:</p>
              <p>Teléfono:</p>
              <p>Email:</p>
            </b>
          </div>
          <div class="col-4">
            <p>Díaz Cando</p>
            <p>Jefferson Omar</p>
            <p>16 - 09 - 1994</p>
            <p>Quito - Ecuador </p>
            <p>Soltero</p>
            <p>172371860-5</p>
            <p>Pedro Mon oe10-100 y Mayu</p>
            <p>096-183-8029</p>
            <p><a href="https://www.linkedin.com/in/jefferson-omar-diaz-cando-237010176/" target="_blank">jefferson.diaz@epn.edu.ec</a></p>
          </div>
          <div class="col"></div>
        </div>
    
        <div class="row">
          <div class="col">
            <u><h2>Estudios</h2></u>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <b>
              <p>Instrucción primaria:</p>
              <p>Instrucción secundaria:</p>
              <p>Instrucción Superior: </p>
            </b>
          </div>
          <div class="col-4">
            <p> Escuela de práctica docente Simón Bolívar </p>
            <p>Instituto Nacional Mejía 
              <br>
              Título: Bachiller Ciencias Físico Matemático 
            </p>
            <p>Escuela Politécnica Nacional <br>
              Título: Tecnólogo en análisis de sistemas informáticos 
            </p>
          </div>
          <div class="col"></div>
        </div>
    
    
        <div class="row">
          <div class="col">
            <u><h2>Experiencia Laboral</h2></u>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col">
              <p>
                  Pasante Help desk, en el Municipio del Distrito Metropolitano de Quito realizando
                  soporte técnico de primer nivel. <br>
                  Administrador de plataforma institucional en Instituto Atlántico Quito<br>
                  Help desk, en Tecnology center realizando sepote técnico de primer y segundo nivel<br>
    
              </p>
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <u><h2>Idiomas</h2></u>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col">
              <p>
                  Ingles intermedio hablado y escrito <br>
                  Curso realizado en el Centro de Educación Continua de la Escuela Politécnica Nacional
              </p>
          </div>
        </div>
  </table>
  </div>
</ion-content>
